<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      lang="en">
<head th:replace="~{layout :: head}"></head>
<body class="main-body" th:data-role="${#authentication.getAuthorities()}">
<nav th:replace="~{layout :: navigation}"></nav>
<header th:replace="~{layout :: header (${breadCrumbs})}"></header>
<main>
    <div class="tiles-container">
        <div class="title" th:each="detail : ${product}" th:object="${product}">
            <div class="image-container" th:if="*{picture == null}">
                <img th:src="@{/resources/image/product/no-image.jpg}">
            </div>
            <div class="image-container" th:if="*{picture != null}">
                <img th:src="@{/resources/image/product/{path}(path=*{picture})}">
            </div>
            <div class="grid-container product-index">
                <h2>Product Name : <span th:text="${detail.productName}"></span></h2>
            </div>
            <div class="grid-container product-index">
                <h2>Price : <span th:text="${#numbers.formatCurrency(detail.price)}"></span></h2>
            </div>
            <div class="grid-container product-index">
                <h2>Dimension : <span th:text="${detail.dimensi}"></span></h2>
            </div>
            <div class="grid-container product-index">
                <h2>Price Unit : <span th:text="${detail.unit}"></span></h2>
            </div>
        </div>

        <div class="button-wrapper">
            <a th:href="@{/product/index}" class="blue-button cart-button">Back</a>
        </div>
    </div>
</main>
<footer th:replace="~{layout :: footer}"></footer>
<th:block th:replace="~{layout :: javascript}"></th:block>
</body>
</html>